<div class="container">
    <div class="row">
        <div class="col-12">
        <h1>녹음 목록</h1>
        <ul class="list-group">
            <% if(locals.data){ 
                for(let i=0;i<data.length;i++){ 
                    var curDate = data[i].reporting_date;
                    var reporting_date = curDate.getFullYear() + "-" + (curDate.getMonth() + 1) + "-" + curDate.getDate();
                    %>     
                    <li class="list-group-item">
                        <a href="/voice/voiceContentInfo/<%=data[i].content_seq%>"> <%= data[i].title %> </a>
                        <p>작성일 : <%= reporting_date%></p>
                        <div style="text-align:right;">작성자 : <%= sess['email']%></div>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <br/>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="/voice/record/177254" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas text-white-50"></i>목소리 녹음</a>
        </div>
        <br/>   
    </div>
</div>      






